.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

video#bgvid {
position: fixed;
top: -10px;
min-width: 100%; min-height: 100%;
width:900px; height: auto; z-index: -100;
background: url(polina.jpg) no-repeat;
background-size: cover;
}

button#front_buttons{
  margin: 250px 0 0px 60px;
  background: #222 url(imgs/overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  position: relative;
  cursor: pointer
}

#loginbg{
  position: fixed;
  z-index: -100;
  width: 1100px;
  height: auto;
  margin: -100px -50px 0 0;
}

#signupbg{
  position: fixed;
  z-index: -100;
  width: 1000px;
  height: auto;
  margin: -100px -50px 0 0;
}


body.game_body {
        background: url('../imgs/lab.jpg') no-repeat center center fixed;
        background-size: cover;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */
        line-height: 800%;
        font-size: 200%;
        margin-left: 10%;
        border-radius: 5px;
    }

.candy {
          border-radius: 100px;

}


