<body>
  <video autoplay loop poster="/imgs/halloween_poster.png" id="bgvid">
    <source src="imgs/Halloween_vid_bg.mp4" type="video/mp4">
  </video>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-6">
    <ul>
       <li><a href="/login" class="round green">Login<span class="round">That is, if you already have an account.</span></a></li>
      <li><a href="/signup"/signup"" class="round red">Sign Up<span class="round">NOW!!! </span></a></li>
    </ul>
  </div>
  <div class="col-sm-2">
  </div>
</body>

<!-- <ul>
  <li><a href="#" class="round green">Login<span class="round">That is, if you already have an account.</span></a></li>
  <li><a href="#" class="round red">Sign Up<span class="round">But only if you really, really want to. </span></a></li>
  <li><a href="#" class="round yellow">Demo<span class="round">Take a look. This product is totally rad!</span></a></li>
</ul> -->