<form action="/login" method="POST">
  Login: <br>
  <input name ="user[username]" type = "text" placeholder = "Enter username">
  <br> Password: <br>
  <input name ="user[password]" type = "text" placeholder = "Enter password">
  <br><input type="submit"><br>
</form>
