<form action="/signup" method="POST">
  Sign Up:<br>
  <input name ="user[username]" type = "text" placeholder = "Choose a username">
  <br> Email: <br>
  <input name ="user[email]" type = "text" placeholder = "Enter email">
  <br> Password: <br>
  <input name ="user[password]" type = "password" placeholder = "Choose a password">
  <input name ="user[password_confirmation]" type = "password" placeholder = "Please confirm password">
  <input type="submit">
</form>
