YOU ARE SIGNED IN!!!!!!!
<div id="new_game button">
  <button type="button"><a href="/">New Game</a></button>
</div>
<div id="next_question button">
  <button type="button"><a href="/">Next Question</a></button>
</div>
<div id="answer button">
  <button type="button"><a href="/">See Answer</a></button>
</div>
<div id="log_out button">
  <button type="button"><a href="/logout">Log Out!</a></button>
</div>