<html>
  <head>
    <title>PSYCHO's CANDY GAME</title>
    <link href='css/game_play.css' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/game_play.js"></script>
  </head>

  <body id="game_background">
    <div>

    <!--   <h1 id="game_layout">
        HELLO
      </h1> -->
    </div>
  </body>
</html>
